* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

.background_cartoon {
  background-image: url("../img/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.background_foot {
  background-image: url("../img/footer-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  cursor: pointer;
  color: red;
}

nav div.blue_cont {
  width: 100vw;
  height: 5vh;
  background-color: blue;
}
nav div.blue_cont div.width_cont {
  width: 80vw;
  margin: 0 auto;
}
nav div.blue_cont div.width_cont .list_cont ul {
  display: flex;
  justify-content: flex-end;
}
nav div.blue_cont div.width_cont .list_cont ul li {
  color: white;
  margin-top: 10px;
  margin-left: 40px;
}
nav div.white_cont {
  width: 100vw;
  height: 15vh;
}
nav div.white_cont div.width_cont {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
}
nav div.white_cont div.width_cont .brand_cont {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
nav div.white_cont div.width_cont .brand_cont img {
  width: 100%;
}
nav div.white_cont div.width_cont .main_list_cont ul {
  display: flex;
  justify-content: center;
}
nav div.white_cont div.width_cont .main_list_cont ul li {
  margin-left: 40px;
}

div.jumbo_cont {
  width: 100vw;
  height: 50vh;
}

.active {
  color: blue;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
}
main div.cent_cont {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

a.card_cont {
  width: 150px;
  height: 160px;
  color: white;
  margin-top: 70px;
  margin-right: 20px;
}
a.card_cont div.back_cont {
  width: 150px;
  height: 140px;
  overflow: hidden;
}
a.card_cont div.back_cont img {
  width: 100%;
}
a.card_cont div.title_cont {
  width: 100%;
  margin-top: 10px;
}

div.but_cont {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}
div.but_cont button {
  width: 150px;
  height: 30px;
  color: white;
  background-color: blue;
  text-align: center;
}

div.blue_cont {
  width: 100vw;
  height: 20vh;
  background-color: violet;
}

section.blue {
  width: 100vw;
  height: 10%;
  background-color: blue;
  position: relative;
}
section.blue div.cent_cont div.img_contei {
  width: 150px;
  height: 190px;
  border: white solid 1px;
  overflow: hidden;
  position: absolute;
  bottom: 30%;
}
section.blue div.cent_cont div.img_contei div.type_cont {
  width: 100px;
  height: 20px;
  background-color: white;
  position: relative;
}
section.blue div.cent_cont div.img_contei img {
  width: 100%;
}

section.white {
  width: 100vw;
  height: 50%;
  background-color: white;
}

section.lblue {
  width: 100vw;
  height: 40%;
  background-color: lightblue;
}

footer {
  width: 100vw;
  height: 40vh;
}
footer div.cont_cent {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.foot_conte {
  width: calc(100% / 2);
  height: 100%;
}
.foot_conte .lists ul li {
  color: white;
}

div.foot_conte {
  overflow: hidden;
}
div.foot_conte img {
  width: 100%;
  text-align: center;
}

div.foot_footer {
  width: 100%;
  height: 100px;
  background-color: #3e4249;
}
div.foot_footer div.cont_cent {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.foot_footer div.cont_cent button {
  width: 80px;
  height: 30px;
  color: white;
  background-color: transparent;
  border: blue solid 2px;
}
div.foot_footer div.cont_cent div.social_cont h4 {
  color: blue;
}