.background_cartoon {
  background-image: url('../img/jumbotron.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.background_foot {
  background-image: url('../img/footer-bg.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  cursor: pointer;
  color: red;
}
