footer {
  width: 100vw;
  div {
    &.cont_cent {
      width: 80%;
      margin: 0 auto;
      display: flex;
    }
  }
}
.foot_conte {
    width: calc(100% / 2);
  .lists {
    display: flex;
    ul {
      margin-right: 15px;
      li:first-child {
        font-weight: bolder;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
        color: $white;
      }
      li {
        color: $lightgrey;
      }
    }
  }
}
div {
  &.info {
    color: $lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
div {
  &.foot_conte{
    div {
      &.img_cont {
        width: 100%;
        height: 120%;
      }
    }
  }
}
div {
  &.foot_footer {
    width: 100%;
    height: 100px;
    background-color: #3e4249;
    div {
      &.cont_cent {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          width: 100px;
          height: 30px;
          color: $white;
          background-color: transparent;
          border: $blue solid 2px;
        }
        div {
          &.social_cont {
            display: flex;
            align-items: center;
            h4 {
              color: $blue;
            }
            div {
              &.icon {
                width: 30px;
                height: 30px;
                margin-left: 10px;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
