nav {
  div {
    &.blue_cont {
      width: 100vw;
      background-color: $blue;
      div {
        &.width_cont {
          @include container-center;
          .list_cont {
            ul {
              display: flex;
              justify-content: flex-end;
              li {
                color: $white;
                margin-top: 8px;
                margin-left: 40px;
              }
            }
          }
        }
      }
    }
  }
  div {
    &.white_cont {
      width: 100vw;
      height: 8vh;
      div {
        &.width_cont {
          width: 80vw;
          height: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .brand_cont {
            width: 60px;
            height: 60px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .main_list_cont {
            ul {
              display: flex;
              justify-content: space-between;
              li {
                font-weight: 500;
                margin-top: 33px;
                padding-bottom: 30px;
                margin-left: 30px;
                cursor: pointer;
              }
              li:hover {
                color: $blue;
                border-bottom: $blue solid 3px;
              }
            }
          }
          div {
            &.input {
              margin-left: 40px;
              margin-bottom: 14px;
              input {
                padding: 4px;
                border-bottom: $blue solid 1px;
              }
              input[type="text"]::placeholder {
                padding-left: 55px;
                padding-bottom: 15px;
              }
              i {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

div {
  &.jumbo_cont {
    width: 100vw;
    height: 40vh;
    position: relative;
  }
}
