main {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  div {
    &.cent_cont {
      width: 80%;
      height: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

a {
  &.card_cont {
    width: 150px;
    height: 160px;
    color: white;
    margin-top: 70px;
    margin-right: 20px;

    div {
      &.back_cont {
        width: 150px;
        height: 140px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    div {
      &.title_cont {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

div {
  &.but_cont {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    button {
      width: 150px;
      height: 30px;
      color: white;
      background-color: blue;
      text-align: center;
    }
  }
}

div {
  &.blue_cont {
    width: 100vw;
    height: 20vh;
    background-color: violet;
  }
}
